/* Cores */
$base: #5469ed;
$base2: #321d6f;
$destaque: #afd629;
$destaque2: #ff7949;
$neutro: #dee3ea;
$cinza-700: #767676;
$cinza-800: #595959;
$cinza-900: #353535;

/* Size */
$inner-width: 90%;
$submenu1: 15rem;
$center: 180px;
$card-font-size: 1.1rem;
$card-font-weight: 500;

/* Font */
$fonte-padrao: 'Montserrat Alternates', sans-serif;

// Transições
$box-transition: all 400ms ease;
