/* Cores */
$base: #3466f4;
$base2: #2a2267;
$destaque: #afc136;
$destaque2: #ff8044;
$neutro: #d8dfe8;
$center: 180px;
$card-font-size: 1.1rem;
$card-font-weight: 500;

/* Size */
$inner-width: 80%;
$left: 22rem;