/* Cores */
$base: #3466f4;
$base2: #2a2267;
$destaque: #afc136;
$destaque2: #ff8044;
$neutro: #d8dfe8;
$cinza-700: #767676;
$cinza-800: #595959;
$cinza-900: #353535;

/* Size */
$inner-width: 90%;
$submenu1: 15rem;
$center: 180px;
$card-font-size: 1.1rem;
$card-font-weight: 500;

/* Font */
$fonte-padrao: 'Montserrat Alternates', sans-serif;

// Transições
$box-transition: all 340ms ease;
