@use 'variables' as v;

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background-color: v.$neutro;
}

/* -----------------------------------
    HEADER
    ----------------------------------- */
.main-header {
  height: 120px;
}

.logo-fap img {
  width: 117px;
}

/* -----------------------------------
    MAIN NAV
    ----------------------------------- */
.main-nav-bar {
  // font-family: var(--font-padrao);
  background: v.$base;
  height: 100%;
  display: flex;
  // padding: 0 v.$center;
  // height: 3rem;
  // display: flex;
  // align-items: stretch;
  // position: relative;

  * {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.main-nav {
  display: flex;
  background-color: lime;
  // align-items: stretch;
  // position: relative;
  // width: 100%;
  font-size: 0.95rem;
  font-weight: 600;

  > li {
    display: flex;

    > a {
      color: v.$cinza-800;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 0 0.9rem;
      position: relative;
      font-size: 0.85rem;
      font-weight: 600;

      &::after {
        content: '';
        width: 0;
        height: 4px;
        border-radius: 10rem;
        background-color: v.$destaque;
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: all 200ms ease-in-out;
        opacity: 0;
      }

      &:hover {
        &::after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.container-nav {
  background: rgba($color: #fff, $alpha: 0.6);
  // background: black;
  position: absolute;
  width: 100%;
  max-height: 0;
  left: 0;
  top: 4rem;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: all 240ms ease-in-out 50ms;
  z-index: 1;
  padding: 2rem 0;

  .container-nav-wrapper {
    box-sizing: border-box;
    width: v.$inner-width;
    margin: 0 auto;
    // background-color: pink;
    position: relative;
    padding: 0 6rem;
  }
}

.submenu-1 {
  display: flex;
  flex-direction: column;
  width: v.$left;
  // background-color: #afc136;
  // border-right: thin solid rgba(v.$base, 0.5);

  > li {
    font-size: 0.9rem;
    font-weight: 600;

    > a {
      display: block;
      padding: 0.4rem 3rem 0.4rem 0.9rem;
      position: relative;
      color: v.$base2;
      font-size: 1rem;
      font-weight: 600;
      transition: all 100ms ease-in-out;

      > i {
        position: absolute;
        top: 12px;
        right: 2.5rem;
        font-size: 12px;
        transition: right 150ms ease-in-out;
      }

      &:hover {
        // background-color: rgba(v.$neutro, 0.5);
        color: v.$base;

        > i {
          right: 2.1rem;
        }
      }
    }
  }
}

.submenu-2 {
  // background: rgb(221, 82, 209);
  position: absolute;
  top: 0;
  left: calc(v.$left + 6rem);
  box-sizing: border-box;
  padding: 3rem 0 0 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: calc(100% - v.$left - 6rem);
  flex-wrap: wrap;
  row-gap: 1.2rem;
  column-gap: 2rem;
  align-content: flex-start;
  border-left: thin solid rgba(v.$base, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 130ms ease-in;

  // column-count: 3;
  // column-gap: 50px;

  // li {
  //   background-color: lime;
  // }

  a {
    font-weight: 500;
    display: block;
    font-size: 0.94rem;
    // padding: .2rem 0;
  }
}

.submenu-3 {
  // background: tan;
  display: flex;
  flex-direction: column;
  // margin: 1rem 0;

  h3 {
    font-size: 0.95rem;
    color: v.$cinza-900;
    font-weight: 600;

    a {
      @extend h3;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    display: flex;
    align-items: flex-end;
    gap: 0.4rem;
    margin-top: 5px;
    color: v.$cinza-700;
    font-weight: 500;

    a {
      font-size: 0.95rem;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Configurações nivel 1*/
.main-nav > li:hover > a + .container-nav {
  opacity: 1;
  visibility: visible;
  max-height: 80rem;
}

/* Configurações nivel 2*/
.main-nav li:hover > ul.submenu-2 {
  visibility: visible;
  opacity: 1;
}

/* Configurações nivel 3*/
.main-nav li:hover > ul.submenu-3 {
  display: flex;
}

/* -----------------------------------
    FOOTER
    ----------------------------------- */
footer.main-footer {
  height: 100px;
  background: var(--base2);
  color: white;
}
