@charset "UTF-8";
/* Cores */
/* Size */
/* Font */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  background-color: #d8dfe8;
}

/* -----------------------------------
    HEADER
    ----------------------------------- */
.main-header {
  height: 120px;
}

.logo-fap img {
  width: 117px;
}

/* -----------------------------------
    MAIN NAV
    ----------------------------------- */
.main-nav-bar {
  background: #3466f4;
  height: 100%;
  display: flex;
}
.main-nav-bar * {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  background-color: lime;
  font-size: 0.95rem;
  font-weight: 600;
}
.main-nav > li {
  display: flex;
}
.main-nav > li > a {
  color: #595959;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
  position: relative;
  font-size: 0.85rem;
  font-weight: 600;
}
.main-nav > li > a::after {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 10rem;
  background-color: #afc136;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 200ms ease-in-out;
  opacity: 0;
}
.main-nav > li > a:hover::after {
  width: 100%;
  opacity: 1;
}
.main-nav a {
  text-decoration: none;
}

.container-nav {
  background: rgba(255, 255, 255, 0.6);
  background: black;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 4rem;
  box-sizing: border-box;
  opacity: 1;
  visibility: visible;
  transition: all 240ms ease-in-out 50ms;
  z-index: 1;
  padding: 0.6rem 0;
}
.container-nav .container-nav-wrapper {
  box-sizing: border-box;
  width: 92%;
  margin: 0 auto;
  background-color: pink;
  position: relative;
  padding: 0 6rem;
}

.submenu-1 {
  display: flex;
  flex-direction: column;
  width: 21rem;
  background-color: #afc136;
  border-right: thin solid rgba(52, 102, 244, 0.5);
}
.submenu-1 > li {
  font-size: 0.9rem;
  font-weight: 600;
}
.submenu-1 > li > a {
  display: block;
  padding: 0.4rem 3rem 0.4rem 0.9rem;
  position: relative;
  color: #2a2267;
  font-size: 1rem;
  font-weight: 600;
  transition: all 100ms ease-in-out;
}
.submenu-1 > li > a > i {
  position: absolute;
  top: 9px;
  right: 1.5rem;
  font-size: 14px;
  transition: right 100ms ease-in-out;
}
.submenu-1 > li > a:hover {
  color: #3466f4;
}
.submenu-1 > li > a:hover > i {
  right: 1.2rem;
}

.submenu-2 {
  background: rgb(221, 82, 209);
  position: absolute;
  top: 0;
  left: 27rem;
  box-sizing: border-box;
  padding: 0 0 0 3rem;
}
.submenu-2 a {
  font-weight: 500;
  display: block;
  font-size: 0.94rem;
}

.submenu-3 {
  background: tan;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.submenu-3 h3 {
  color: #353535;
  font-weight: 600;
}
.submenu-3 p {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: 0.3rem;
  color: #767676;
  font-weight: 500;
}
.submenu-3 p a {
  color: inherit;
}

/* Configurações nivel 1*/
.main-nav > li:hover > a + .container-nav {
  opacity: 1;
  visibility: visible;
}

/* Configurações nivel 2*/
.main-nav li:hover > ul.submenu-2 {
  display: block;
}

/* Configurações nivel 3*/
.main-nav li:hover > ul.submenu-3 {
  display: flex;
}

/* -----------------------------------
    FOOTER
    ----------------------------------- */
footer.main-footer {
  height: 100px;
  background: var(--base2);
  color: white;
}/*# sourceMappingURL=menu.css.map */