@use 'variables' as v;

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  // background-color: v.$neutro;
  background-image: url(./../images/teste.jpg);
}

/* -----------------------------------
    HEADER
    ----------------------------------- */
// .main-header {
//   height: 120px;
// }

// .logo-fap img {
//   width: 117px;
// }

/* -----------------------------------
    MAIN NAV
    ----------------------------------- */
.main-nav-bar {
  height: 100%;
  display: flex;

  * {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.main-nav {
  // position: relative;
  display: flex;

  > li {
    display: flex;

    > a {
      color: v.$cinza-800;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 0 0.9rem;
      position: relative;
      font-size: 0.8rem;
      font-weight: 600;

      &::after {
        content: '';
        width: 0;
        height: 2px;
        border-radius: 10rem;
        background-color: v.$base;
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: all 200ms ease-in-out;
        opacity: 0;
      }

      &:hover {
        &::after {
          width: 100%;
          opacity: 1;
        }
      }
    }

    > .teste {
      //TODO Remover
      width: 100%;
      height: 130px;
      display: block;
      // border-radius: 10rem;
      background-color: v.$base;
      // bottom: 0;
      // left: 50%;
      // position: absolute;
      // transform: translateX(-50%);
      // transition: all 200ms ease-in-out;
    }
  }

  a {
    text-decoration: none;
  }

  // &::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 30rem;
  //   width: 100%;
  //   padding-bottom: 3rem;
  //   background-color: yellow;
  //   z-index: -1;
  //   // transform: translateX(-50%);
  // }
}

.dropdown-nav {
  background: rgba(#fff, 0.97);
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 4rem;
  box-sizing: border-box;
  display: none;
  // opacity: 0;
  // visibility: hidden;
  // transition: all 30ms ease-in-out;
  z-index: 1;
  padding: 1.2rem 0;

  .dropdown-nav-wrapper {
    // width: v.$inner-width;
    margin: 0 auto;
    // padding: 0 6rem;
  }

  .dropdown-nav-inner {
    position: relative;
    min-height: 20rem;
  }

  // &::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-color: yellow;
  //   z-index: -1;
  //   // transform: translateX(-50%);
  // }
}

.submenu-1 {
  display: flex;
  flex-direction: column;
  width: v.$submenu1;

  > li > a {
    display: block;
    padding: 0.6rem 3rem 0.4rem 0.9rem;
    position: relative;
    color: v.$base2;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 100ms ease-in-out;
    border-radius: 0.4rem;

    > i {
      position: absolute;
      top: 50%;
      right: 1.3rem;
      transform: translateY(-50%);
      font-size: 11px;
      transition: right 150ms ease-in-out;
    }

    &:hover {
      // background-color: rgba(v.$neutro, 0.25);
      // color: v.$base;
      background-color: v.$base;
      color: #fff;

      > i {
        right: 1rem;
      }
    }
  }
}

.container-submenu2 {
  position: absolute;
  top: 0;
  left: calc(v.$submenu1);
  box-sizing: border-box;
  padding: 0.6rem 0 0 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: calc(100% - v.$submenu1);
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 3rem;
  align-content: flex-start;
  visibility: hidden;
  opacity: 0;
  transition: all 100ms ease-in;
}

.submenu-2 {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 0.88rem;
    color: v.$base2;
    color: v.$base;
    font-weight: 600;

    a {
      @extend h3;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    display: flex;
    // align-items: flex-end;
    flex-direction: column;
    gap: 0.1rem;
    margin-top: 5px;
    color: v.$cinza-800;

    a {
      font-weight: 500;
      font-size: 0.83rem;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Configurações nivel 1*/
.main-nav > li:hover > a + .dropdown-nav {
  // opacity: 1;
  // visibility: visible;
  display: block;
  // max-height: 80rem;
}

/* Configurações nivel 2*/
.main-nav li:hover > ul.container-submenu2 {
  visibility: visible;
  opacity: 1;
}

/* Configurações nivel 3*/
.main-nav li:hover > ul.submenu-2 {
  display: flex;
}

/* -----------------------------------
    FOOTER
    ----------------------------------- */
footer.main-footer {
  height: 100px;
  background: var(--base2);
  color: white;
}
