* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

/* Cores */
$base: #3466f4;
$base2: #2a2267;
$destaque: #afc136;
$destaque2: #ff8044;
$neutro: #d8dfe8;
$center: 180px;
$card-font-size: 1.1rem;
$card-font-weight: 500;
$padding: 1.5rem;

body {
  background-color: $neutro;
}

/* -----------------------------------
    HEADER
    ----------------------------------- */
.main-header {
  height: 120px;
}

.logo-fap img {
  width: 117px;
}

/* -----------------------------------
    MAIN NAV
    ----------------------------------- */
.main-nav-bar {
  // font-family: var(--font-padrao);
  background: $base;
  padding: 0 $center;
  height: 3rem;
  display: flex;

  * {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.main-nav {
  display: flex;
  align-items: stretch;
  position: relative;
  width: 100%;
  font-size: 0.95rem;
  font-weight: 600;

  > li {
    display: flex;

    > a {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 0 0.9rem;
      position: relative;

      &::after {
        content: '';
        width: 0;
        height: 4px;
        border-radius: 10rem;
        background-color: $destaque;
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: all 200ms ease-in-out;
        opacity: 0;
      }

      &:hover {
        &::after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.container-submenu-1 {
  background: rgba($color: #fff, $alpha: 0.6);
  border-radius: 1.1rem;
  padding: $padding;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 3.5rem;
  box-sizing: border-box;
  opacity: 1;
  visibility: visible;
  transition: all 240ms ease-in-out 50ms;
  z-index: 1;
}


.submenu-1 {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: #afc136;

  > li {
    // padding: 0.3rem;
    // float: left;
    font-size: 0.9rem;
    font-weight: 600;

    > a {
      display: block;
      padding: 0.6rem 3rem 0.6rem 1.2rem;
      position: relative;
      border-radius: .4rem;
      color: $base2;

      > i {
        position: absolute;
        top: 14px;
        right: 1.5rem;
        transition: all 150ms ease-in-out;
      }

      &:hover {
        background-color: rgba($neutro, .5);
        color: $base;

        > i {
          right: 1rem;
        }
      }
    }
  }
}

.submenu-2 {
  background: rgb(221, 82, 209);
  position: absolute;
  right: $padding;
  top: $padding;
  width: calc(100% - 20rem);
  // flex-wrap: wrap;
  display: none;
  box-sizing: border-box;
  padding: 2rem;
  // -moz-column-count: 4;
  // -moz-column-gap: 20px;
  // -webkit-column-count: 4;
  // -webkit-column-gap: 20px;
  // column-count: 2;
  // column-gap: 20px;
}

.submenu-3 {
  background: tan;
  display: flex;
  // display: none;
}

/* Configurações nivel 1*/
.main-nav > li:hover > a + .container-submenu-1 {
  opacity: 1;
  visibility: visible;
}

/* Configurações nivel 2*/
.main-nav li:hover > ul.submenu-2 {
  display: block;
}

/* Configurações nivel 3*/
.main-nav li:hover > ul.submenu-3 {
  display: flex;
}

/* -----------------------------------
    FOOTER
    ----------------------------------- */
footer.main-footer {
  height: 100px;
  background: var(--base2);
  color: white;
}
