@charset "UTF-8";
/* Cores */
/* Size */
/* Font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5469ed;
}

#new-header {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#new-header * {
  box-sizing: border-box;
  line-height: initial;
}
#new-header .container-header {
  height: 4rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#new-header .logo {
  height: 70%;
  flex: 0 0 auto;
}
#new-header .nav-bar {
  flex: 0 1 auto;
}
#new-header .header-info {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 2rem;
}
#new-header .dropdown-user {
  position: relative;
  display: inline-block;
}
#new-header .dropdown-user .dropdown-btn {
  background-color: #fff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 0.55rem 0.75rem;
}
#new-header .dropdown-user .dropdown-btn .dropdown-icon {
  color: rgba(0, 0, 0, 0.6);
  margin-right: 0.3rem;
  font-size: 1rem;
}
#new-header .dropdown-user .dropdown-btn.dropdown-btn::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: rgba(0, 0, 0, 0.3);
}
#new-header .dropdown-user .dropdown-btn:hover,
#new-header .dropdown-user .dropdown-btn:focus {
  background-color: #eee;
}
#new-header .dropdown-user .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
  right: 0;
  border: solid thin rgba(0, 0, 0, 0.1);
  transform: translate(0px, 3px);
  border-radius: 0.5rem;
  list-style-type: none;
  padding: 0;
}
#new-header .dropdown-user .dropdown-content .dropdown-header {
  font-weight: 600;
  font-size: 0.8rem;
  white-space: normal;
  line-height: 1.4;
  color: #321d6f;
  padding: 0.7rem 1rem;
  display: flex;
  gap: 1rem;
}
#new-header .dropdown-user .dropdown-content .dropdown-header .user-icon {
  font-size: 1rem;
  color: rgba(84, 105, 237, 0.8);
  margin-top: 0.3rem;
}
#new-header .dropdown-user .dropdown-content .dropdown-divider {
  background-color: #ccc;
  color: #ccc;
  height: 1px;
  border: none;
  margin: 0;
}
#new-header .dropdown-user .dropdown-content .dropdown-item {
  padding: 0.7rem 1rem;
  font-size: 0.8rem;
  color: #666;
  font-weight: 500;
  white-space: nowrap;
}
#new-header .dropdown-user .dropdown-content .dropdown-item:hover {
  background-color: #5469ed;
  color: #fff;
}
#new-header .dropdown-user .dropdown-content a {
  text-decoration: none;
  display: block;
}
#new-header .dropdown-user .dropdown-user a:hover {
  background-color: #ddd;
}
#new-header .dropdown-user .show {
  display: block;
}
#new-header .customer-logo {
  height: 22px;
}

/* -----------------------------------
    MAIN NAV
    ----------------------------------- */
#new-nav {
  height: 100%;
  display: flex;
  /* Configurações nivel 1*/
  /* Configurações nivel 2*/
  /* Configurações nivel 3*/
}
#new-nav * {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#new-nav .nav-bar {
  display: flex;
}
#new-nav .nav-bar > li {
  display: flex;
}
#new-nav .nav-bar > li > a {
  color: #595959;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
  position: relative;
  font-size: 0.8rem;
  font-weight: 600;
}
#new-nav .nav-bar > li > a::after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 10rem;
  background-color: #5469ed;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 200ms ease-in-out;
  opacity: 0;
}
#new-nav .nav-bar > li > a:hover::after {
  width: 100%;
  opacity: 1;
}
#new-nav .nav-bar a {
  text-decoration: none;
}
#new-nav .dropdown-nav {
  background: rgba(255, 255, 255, 0.97);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 4rem;
  box-sizing: border-box;
  display: none;
  z-index: 1;
  padding: 1.2rem 0;
}
#new-nav .dropdown-nav .dropdown-nav-wrapper {
  margin: 0 auto;
}
#new-nav .dropdown-nav .dropdown-nav-inner {
  position: relative;
  min-height: 20rem;
}
#new-nav .submenu-1 {
  display: flex;
  flex-direction: column;
  width: 15rem;
}
#new-nav .submenu-1 > li > a {
  display: block;
  padding: 0.6rem 3rem 0.4rem 0.9rem;
  position: relative;
  color: #321d6f;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 100ms ease-in-out;
  border-radius: 0.4rem;
}
#new-nav .submenu-1 > li > a > i {
  position: absolute;
  top: 50%;
  right: 1.3rem;
  transform: translateY(-50%);
  font-size: 11px;
  transition: right 150ms ease-in-out;
}
#new-nav .submenu-1 > li > a:hover {
  background-color: #5469ed;
  color: #fff;
}
#new-nav .submenu-1 > li > a:hover > i {
  right: 1rem;
}
#new-nav .container-submenu2 {
  position: absolute;
  top: 0;
  left: 15rem;
  box-sizing: border-box;
  padding: 0.6rem 0 0 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: calc(100% - 15rem);
  flex-wrap: wrap;
  row-gap: 1.5rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  align-content: flex-start;
  visibility: hidden;
  opacity: 0;
  transition: all 100ms ease-in;
}
#new-nav .submenu-2 {
  display: flex;
  flex-direction: column;
}
#new-nav .submenu-2 h3, #new-nav .submenu-2 h3 a {
  font-size: 0.88rem;
  color: #321d6f;
  color: #5469ed;
  font-weight: 600;
}
#new-nav .submenu-2 h3 a:hover {
  text-decoration: underline;
}
#new-nav .submenu-2 p {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-top: 5px;
  color: #595959;
}
#new-nav .submenu-2 p a {
  font-weight: 500;
  font-size: 0.83rem;
  color: inherit;
}
#new-nav .submenu-2 p a:hover {
  text-decoration: underline;
}
#new-nav .nav-bar > li:hover > a + .dropdown-nav {
  display: block;
}
#new-nav .nav-bar li:hover > ul.container-submenu2 {
  visibility: visible;
  opacity: 1;
}
#new-nav .nav-bar li:hover > ul.submenu-2 {
  display: flex;
}

/* -----------------------------------
        FOOTER
        ----------------------------------- *//*# sourceMappingURL=header.css.map */