@import '../variables';

:root {
  --top: 64px;
}

#inner-content {
  padding: 64px 0 5rem;
  transition: all 300ms ease;

  .main {
    margin-top: 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fc;
}

#new-header {
  margin: 0;
  padding: 0;
  font-family: $fonte-padrao !important;
  background-color: rgba(#fff, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  transition: all 300ms ease;

  * {
    box-sizing: border-box;
    line-height: initial;
  }

  .container-header {
    height: var(--top);
    width: $inner-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: inherit;
  }

  .mainLogo {
    display: block;
    height: 65%;
    width: auto;
    flex: 0 0 auto;
    text-decoration: none;
    overflow: hidden;

    img {
      height: 100%;
      border: none;
      display: block;
      transition: all 0.5s;
    }

    .logo-normal {
      transform: translateY(-100%);

      &.active {
        transform: translateY(200%);
        height: 10px;
      }
    }

    .logo-simbolo {
      transform: translateY(-200%);

      &.active {
        transform: translateY(0%);
      }
    }
  }

  .nav-bar {
    flex: 0 1 auto;
  }

  .header-info {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    gap: 32px;
    padding: 0;
    margin: 0;
  }

  .dropdown-user {
    position: relative;
    display: inline-block;

    .dropdown-btn {
      background-color: transparent;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      padding: 8px;

      .dropdown-icon {
        color: rgba(#000, 0.5);
        margin-right: 5px;
        font-size: 16px;
      }

      &.dropdown-btn::after {
        display: inline-block;
        margin-left: 4px;
        vertical-align: 4px;
        content: '';
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-bottom: 0;
        border-left: 4px solid transparent;
        color: rgba(#000, 0.3);
      }
    }

    .dropdown-btn:hover,
    .dropdown-btn:focus {
      background-color: #eee;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 200px;
      overflow: auto;
      z-index: 1;
      right: 0;
      border: solid thin rgba(#000000, 0.1);
      transform: translate(0px, 3px);
      border-radius: 8px;
      list-style-type: none;
      padding: 0;

      .dropdown-header {
        font-weight: 600;
        font-size: 13px;
        white-space: normal;
        line-height: 1.4;
        color: $base2;
        padding: 11px 16px;
        display: flex;
        gap: 16px;

        .user-icon {
          font-size: 16px;
          color: rgba($base, 0.8);
          margin-top: 5px;
        }
      }

      .dropdown-divider {
        background-color: #ccc;
        color: #ccc;
        height: 1px;
        border: none;
        margin: 0;
      }

      .dropdown-item {
        padding: 11px 16px;
        font-size: 13px;
        color: #666;
        font-weight: 500;
        white-space: nowrap;

        &:hover {
          background-color: $base;
          color: #fff;
        }
      }
    }

    .dropdown-content a {
      text-decoration: none;
      display: block;
    }

    .dropdown-user a:hover {
      background-color: #ddd;
    }

    .show {
      display: block;
    }
  }

  .customer-logo {
    height: 22px;
    transition: all 100ms ease;
  }

  &.sticky {
    background-color: $base2;

    .nav-bar > li > a {
      color: rgba(#fff, 0.9);
      // font-weight: 500;
      font-size: 11px;
    }

    .nav-bar > li:hover > a {
      color: mix($base, #fff, 60%);
    }

    .nav-bar > li > a::after {
      background-color: lighten($destaque, 5);
      // height: 2px;
      // border-radius: 0;
    }

    .dropdown-btn {
      padding: 6px 9px;

      .dropdown-icon {
        color: rgba(#fff, 0.7);
        font-size: 14px;
      }

      &.dropdown-btn::after {
        color: rgba(#fff, 0.4);
      }
    }

    .dropdown-btn:hover,
    .dropdown-btn:focus {
      background-color: rgba($base, 0.4);
    }

    .customer-logo {
      height: 18px;
    }
  }
}

/* -----------------------------------
    MAIN NAV
    ----------------------------------- */
#new-nav {
  height: 100%;
  display: flex;

  * {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-bar {
    display: flex;

    > li {
      display: flex;

      > a {
        color: $cinza-900;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0 10px;
        position: relative;
        font-size: 12px;
        font-weight: 600;

        &::after {
          content: '';
          width: 0;
          height: 2px;
          border-radius: 200px;
          background-color: $base;
          bottom: 0;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          transition: all 200ms ease-in-out;
          opacity: 0;
        }

        &:hover {
          &::after {
            width: 100%;
            opacity: 1;
          }
        }
      }

      &::after {
        content: '';
        width: 0;
        height: 2px;
        border-radius: 200px;
        background-color: $base;
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: all 200ms ease-in-out;
        opacity: 0;
      }

      &:hover > a {
        color: $base;
      }
    }

    a {
      text-decoration: none;
    }
  }

  .dropdown-nav {
    background: rgba(#fff, 0.9);
    background-color: red;
    backdrop-filter: blur(15px);
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: var(--top);
    box-sizing: border-box;
    display: none;
    z-index: 1;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.17) 0 10px 20px -10px;

    .dropdown-nav-wrapper {
      margin: 0 auto;
    }

    .dropdown-nav-inner {
      position: relative;
      min-height: 320px;
    }
  }

  .submenu-1 {
    display: flex;
    flex-direction: column;
    width: $submenu1;

    // > li:not(:last-child) {
    //   border-bottom: solid thin rgba($base2, 0.1);
    // }

    > li > a {
      display: block;
      padding: 8px 38px 8px 14px;
      position: relative;
      color: $base2;
      font-size: 13px;
      font-weight: 600;
      transition: all 100ms ease-in-out;
      border-radius: 4px;
      // background-color: rgba(#000, 0.05);
      // margin: 1px 0;

      > i {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 11px;
        transition: right 150ms ease-in-out;
      }

      &:hover {
        background-color: $base;
        color: #fff;
        // box-shadow: 0 0 10px -2px rgba($base, 0.2);

        > i {
          right: 15px;
        }
      }
    }
  }

  .container-submenu2 {
    position: absolute;
    top: 0;
    left: $submenu1;
    box-sizing: border-box;
    padding: 8px 0 0 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: calc(100% - $submenu1);
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 42px;
    align-content: flex-start;
    visibility: hidden;
    opacity: 0;
    transition: all 50ms ease-in;
  }

  .submenu-2 {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 13px;
      color: $base;
      font-weight: 600;

      a {
        @extend h3;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-top: 2px;
      color: $cinza-800;

      a {
        font-weight: 500;
        font-size: 12px;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* Configurações nivel 1*/
  .nav-bar > li:hover > a + .dropdown-nav {
    // opacity: 1;
    // visibility: visible;
    display: block;
  }
  /* Configurações nivel 2*/
  .nav-bar li:hover > ul.container-submenu2 {
    visibility: visible;
    opacity: 1;
  }
  /* Configurações nivel 3*/
  .nav-bar li:hover > ul.submenu-2 {
    display: flex;
  }
}

/* -----------------------------------
        FOOTER
        ----------------------------------- */
// footer.main-footer {
//   height: 100px;
//   background: var(--base2);
//   color: white;
// }
