@use '../../css/variables' as v;

* {
  margin: 0;
  padding: 0;
  font-family: v.$fonte-padrao;
}

body {
  background-color: v.$base2;
  overflow-x: hidden;
}

.logo {
  width: 11.5rem;
  display: block;
  margin: 4rem auto;
}

#scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  overflow: hidden;

  .element1 {
    top: 30rem !important;
    left: -2rem !important;
    width: 6rem;
  }

  .element2 {
    top: 34rem !important;
    left: 2.5rem !important;
    width: 3rem;
  }

  .element3 {
    top: 10rem !important;
    left: unset !important;
    right: -2rem !important;
    width: 6rem;
  }

  .element4 {
    top: unset !important;
    left: unset !important;
    right: 10rem !important;
    bottom: 4rem !important;
    width: 2rem;
  }

  // .element5 {
  //   top: unset !important;
  //   left: unset !important;
  //   right: -10rem !important;
  //   bottom: -25rem !important;
  // }
}

.login-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.box {
  background-color: #fff;
  width: 460px;
  height: 400px;
  border-radius: 1.5rem;
  padding: 2.7rem 3rem;
  transition: v.$box-transition;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  box-shadow: 4px 4px 250px -70px rgba(50, 102, 244, 0.9), 4px 4px 20px -5px rgba(0, 0, 0, 0.3);

  &.active {
    width: 520px;
    height: 360px;
  }

  h3 {
    color: v.$base;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }

  .field {
    display: flex;
    flex-direction: column;

    &:first-of-type {
      margin-bottom: 1.3rem;
    }

    label {
      color: #606060;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0.4rem;
    }

    input {
      height: 44px;
      width: 100%;
      border-radius: 8px;
      border: none;
      border: thin #c3c3c3 solid;
      outline: none;
      padding: 0 0.7rem;
      transition: all 200ms ease;
      font-weight: 500;
      color: #222;
      font-size: 1rem;
      letter-spacing: 1%;

      &::selection {
        background-color: v.$base2;
        color: #fff;
      }

      &:focus {
        border-color: #fff;
        box-shadow: rgba(v.$base, 0.6) 0 0 0 2px;
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #b0b0b0;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #b0b0b0;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #b0b0b0;
      }
    }

    .input-wrapper {
      position: relative;

      .input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.9rem;
        color: v.$destaque2;
        font-size: 1rem;
      }

      input {
        padding-left: 2.9rem;
      }

      .password {
        padding-right: 3rem;
      }

      .toggle-password {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5rem;
        border: none;
        background: transparent;
        color: #bbb;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &:hover {
          color: v.$base;
        }
      }
    }
  }

  .message {
    // border-radius: 8px;
    // background: rgba(231, 85, 38, 0.08);
    // padding: 0.6rem 1rem;
    color: #ff4545;
    font-weight: 600;
    font-size: 13px;
    margin: 1rem 0 0;
  }

  .wrapper-btn {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box-btn {
      all: unset;
      text-align: center;
      border-radius: 8px;
      height: 42px;
      font-size: 18px;
      cursor: pointer;
      transition: all 200ms ease;
      padding: 0 1.3rem;
      font-weight: 500;
    }

    .btn-primary {
      background-color: v.$base;
      flex: 1 0 auto;
      color: #fff;

      &:hover {
        background-color: lighten(v.$base, 4);
      }

      &:disabled {
        opacity: 0.4;
        background-color: v.$base;
        cursor: default;
      }
    }

    .btn-voltar {
      background-color: transparent;
      color: v.$base;
      font-size: 16px;

      i {
        margin-right: 0.7rem;
        font-size: 0.9rem;
      }

      &:hover {
        background-color: lighten(v.$neutro, 7);
      }
    }
  }
}

.login {
  flex: 1 0 100%;
  transition: v.$box-transition;
  transform: translateX(-40rem);

  &.active {
    transform: translateX(0);
  }

  .btn-recuperar-senha {
    all: unset;
    text-align: center;
    color: #6f6d6d;
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin: 1.5rem auto 0;
    cursor: pointer;

    &:hover {
      color: v.$base;
    }
  }
}

.recuperar-senha {
  flex: 1 0 100%;
  transition: v.$box-transition;
  transform: translateX(10rem);

  &.active {
    transform: translateX(-100%);
  }

  .wrapper-btn {
    .btn-primary {
      flex: 0 1 auto;
    }
  }
}
